.bgrect {
  background-image: var(--background-image);
}



.calbtn {
  background-image: var(--calbtn);
}

.font {
  font-family: 'Times New Roman', Times, serif;
}

@media(min-width:400px) {
  body {
    overflow: hidden;
  }

  .bmiscore {
    font-size: 5rem;

  }
}

@media(max-width:400px) {
  body {
    overflow: auto;
  }

  .bmiscore {
    font-size: 3rem;


  }
}
.footerbg{
  background-image: var(--outputcr);
}